<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.happyjey.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.happyjey.entity.User" >
    <constructor >
      <idArg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_pwd" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_avatar" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_atime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_login_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_login_ip" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_pwd, user_nickname, user_avatar, user_atime, user_login_time, 
    user_login_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ssm_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ssm_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.happyjey.entity.User" >
    insert into ssm_user (user_id, user_name, user_pwd, 
      user_nickname, user_avatar, user_atime, 
      user_login_time, user_login_ip)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userNickname,jdbcType=VARCHAR}, #{userAvatar,jdbcType=VARCHAR}, #{userAtime,jdbcType=TIMESTAMP}, 
      #{userLoginTime,jdbcType=TIMESTAMP}, #{userLoginIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.happyjey.entity.User" >
    insert into ssm_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="userAvatar != null" >
        user_avatar,
      </if>
      <if test="userAtime != null" >
        user_atime,
      </if>
      <if test="userLoginTime != null" >
        user_login_time,
      </if>
      <if test="userLoginIp != null" >
        user_login_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null" >
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userAtime != null" >
        #{userAtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLoginTime != null" >
        #{userLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLoginIp != null" >
        #{userLoginIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.happyjey.entity.User" >
    update ssm_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null" >
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userAtime != null" >
        user_atime = #{userAtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLoginTime != null" >
        user_login_time = #{userLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLoginIp != null" >
        user_login_ip = #{userLoginIp,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.happyjey.entity.User" >
    update ssm_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_atime = #{userAtime,jdbcType=TIMESTAMP},
      user_login_time = #{userLoginTime,jdbcType=TIMESTAMP},
      user_login_ip = #{userLoginIp,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>