<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 自动扫描controller -->
    <context:component-scan base-package="com.happyjey.controller"/>

    <!-- 开启SpringMVC注解 + 消息转换器(响应内容转换成json) -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 文件上传：id一定要为multipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxInMemorySize" value="4096"></property>
        <property name="maxUploadSize" value="102400"></property>
    </bean>

    <!-- 静态资源默认servlet配置 -->
    <!--
        (1)加入静态资源处理：js,css,gif,png
        (2)允许使用"/"做整体映射
     -->
    <mvc:default-servlet-handler/>


    <!--freemarker的view模板：第一优先级-->
    <bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"></property>
        <property name="prefix" value=""></property>
        <property name="suffix" value=".ftl"></property>
        <property name="contentType" value="text/html;charset=UTF-8"></property>
        <!--<property name="requestContextAttribute" value="rc" />-->
        <!--<property name="exposeRequestAttributes" value="true" />-->
        <!--<property name="exposeSpringMacroHelpers" value="true" />-->
        <!--<property name="exposeSessionAttributes" value="true" />-->
        <property name="order" value="0"></property>
    </bean>
    <!--jsp的view模板：第二优先级-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
        <property name="order" value="1"></property>
    </bean>

</beans>